<% if @restaurants.none? %> 
No restaurants yet!
<% end %>


<% @restaurants.each do |restaurant| %>
	<h1><%= link_to restaurant.name, restaurant %></h1>
	<p><%= restaurant.description %></p>
	<%= link_to 'Edit this restaurant', edit_restaurant_path(restaurant) %>
	<%= link_to 'Delete this restaurant', restaurant_path(restaurant), method: :delete, data: { confirm: "Are you sure?"} %>
<% end %>


<h3><%= link_to 'Add a restaurant', new_restaurant_path %></h3>